@font-face {
  font-family: Ar Bonnie;
  src:url('../fonts/ARBONNIE.ttf');
}

@font-face {
  font-family: Breeze Personal Use;
  src:url('../fonts/Breeze Personal Use.ttf');
}

@font-face {
  font-family: Bernadette;
  src:url('../fonts/bernadette.ttf');
}

@font-face {
  font-family: 'Adobe Garamond Pro Regular';
  src:url('../fonts/Adobe Garamond Pro Regular.ttf');
}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

.main-menu {
  font-family:"Ar Bonnie";
  font-size: 20px;
  color: black;
}

.logo-a {
  font-family: "Breeze Personal Use";
  font-size: 40px;
}

.logo-text {
  font-family: "Bernadette";
  font-size: 14px;
}

body {
  background: url('../images/web-design-information.jpg')no-repeat center top fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* @media(max-width:767px) {
  body {
    background: url('../images/web-design-information(mobile).jpg')no-repeat center top fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
} */

.navbar-opacity {
  background-color: white;
  opacity: 0.5
}


.skill-img {
  margin-top: 10px;
}

.skill-title {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 5px;
}

.chapter-title {
  padding-top: 50px;
  margin-bottom: 20px;
  font-family:"Ar Bonnie";
  font-size: 2em;
  text-align: center;
}

.contacts {
  color:white;
  font-size: 3em;
}

#contacts {
  padding-top: 20px;
  margin-bottom: 20px;
  font-family:"Ar Bonnie";
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

.about {
  padding-top: 70px;
}

.about-text {
  font-size: 1.2em;
  font-style: italic;
  font-family: "Adobe Garamond Pro Regular";
}

@media(max-width:1199px) {

  .chapter-title {
    padding-top: 70px;
    font-family:"Ar Bonnie";
    font-size: 1.5em;
    text-align: center;
  }

  #contacts {
    padding-top: 20px;
    margin-bottom: 20px;
    font-family:"Ar Bonnie";
    font-size: 1.5em;
    text-align: center;
  }

  .skill-title {
    font-size: 1em;
    font-weight: 500;
  }

  .contacts {
    color:white;
    font-size: 2em;
  }

  .about {
    padding-top: 70px;
  }
}



#my-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}



.main-text {
  background-color: white;
  padding: 15px 0px;
}


footer {
  color: white;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  padding: 10px;
}

@media(max-width:1199px) {
  footer{
    background-color: #777777;
    opacity: 1;
  }


.icon {
  font-weight: bold;
}

/* banner */

.banner {
 height: 100vh;
display: flex;
}
.banner-footer {
  padding-bottom: 20px;
}

.banner-content {
  margin: auto;
  text-align: center;
}

.banner-text {
  font-family:"Ar Bonnie";
  font-size: 4em;
  text-align:center;
  padding-top: 40px;
}

#my-name {
  font-family: "Bernadette";
  font-size: 2em;
  text-align: center;
  padding-top: 60px;
}

@media(max-width:1199px) {
.banner {
   height: 100vh;
  display: flex;
  background: url('../images/web-design-information(mobile).jpg')no-repeat center top fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.banner-footer {
  background: url('../images/web-design-information(mobile).jpg')no-repeat center bottom fixed;
}

.banner-text {
  font-family:"Ar Bonnie";
  font-size: 2.7em;
  text-align:center;
}

#my-name {
  font-family: "Bernadette";
  font-size: 1.5em;
  text-align: center;
}
}

@media(max-width:767px) {
.banner-text {
  font-family:"Ar Bonnie";
  font-size: 2.5em;
  text-align:center;
}

#my-name {
  font-family: "Bernadette";
  font-size: 1.5em;
  text-align: center;
}

.about-text {
  font-size: 1.1em;
  font-style: italic;
  font-family: "Adobe Garamond Pro Regular";
}
}

.portfolio-img-container {
  border: 1px solid #e7e7e7 ;
  padding: 10px;
  margin-top: 20px;
  background-color: #f8f9fa;
}

.white-background {
  background-color: #ffffff;
}

a.portfolio-img {
  display: block;
  width: 400px;
  height: 240px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

a.tictactoe {
  background: url('../images/tictactoe-light.png')no-repeat center top;
}
a.tictactoe:hover {
  background: url('../images/tictactoe.png')no-repeat center top;
}

a.quoter {
  background: url('../images/quoter-light.png')no-repeat center top;
}
a.quoter:hover {
  background: url('../images/quoter.png')no-repeat center top;
}

a.wiki-viewer {
  background: url('../images/wiki-viewer-light.png')no-repeat center top;
}
a.wiki-viewer:hover {
  background: url('../images/wiki-viewer.png')no-repeat center top;
}

a.simon {
  background: url('../images/simon-light.png')no-repeat center top;
}
a.simon:hover {
  background: url('../images/simon.png')no-repeat center top;
}

a.pomodoro {
  background: url('../images/pomodoro-light.png') no-repeat center top;
}
a.pomodoro:hover {
  background: url('../images/pomodoro.png') no-repeat center top;
}

a.weather {
  background: url('../images/weather-light.png')no-repeat center top;
}
a.weather:hover {
  background: url('../images/weather.png')no-repeat center top;
}

.project-title {
  margin: 10px 0px;
  font-style: italic;
  font-family: "Adobe Garamond Pro Regular";
  text-align: center;
}
